* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* 商品分类的级联选择器高度 设置后就可以出现滚动条 */
.el-scrollbar__wrap {
    height: 200px;
}

.ql-editor {
    min-height: 300px;
}
